<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://i.redd.it/b4regqxuluwz.jpg">
    <img 

    <!-- Insert Your Form Below -->
<form method = "POST" action="/food">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Favorite Fast Food: <input type="text" name ="favorite_food"></p>
  <input type="submit"></p>
</form>
  </body>
</html>
